In [2]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\jayac\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\jayac\anaconda3\lib\site-packages (from category_encoders) (0.23.2)
Requirement already satisfied: pandas>=0.21.1 in c:\users\jayac\appdata\roaming\python\python38\site-packages (from category_encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\jayac\anaconda3\lib\site-packages (from category_encoders) (0.11.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\jayac\anaconda3\lib\site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: patsy>=0.5.1 in c:\users\jayac\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\jayac\appdata\roaming\python\python38\site-packages (from category_encoders) (1.22.0)
Requirement already satisfied: joblib>=0.11 in c:\users\jayac\appdata\roaming\python\python38\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jayac\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jayac\appdata\roaming\python\python38\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jayac\appdata\roaming\python\python38\site-packages (from pandas>=0.21.1->category_encoders) (2021.3)
Requirement already satisfied: six in c:\users\jayac\appdata\roaming\python\python38\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)

In [3]:
import pandas as pd
import numpy as np
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso
import joblib

In [4]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from category_encoders.leave_one_out import LeaveOneOutEncoder

In [5]:
car_dataset=pd.read_csv(r"C:\Users\jayac\Downloads\New folder\CAR DETAILS FROM CAR DEKHO.csv")

In [6]:
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [7]:
category=car_dataset.select_dtypes(exclude=np.number).columns
numerical=car_dataset.select_dtypes(include=np.number).drop(columns='selling_price').columns

In [8]:
category_pipe=Pipeline(steps=[('encode',LeaveOneOutEncoder())])
numeric_pipe=Pipeline(steps=[('encode',StandardScaler())])

In [9]:
preprocess_pipe=ColumnTransformer([('cat_pipe',category_pipe,category),
                                  ('numerical_pipe',numeric_pipe,numerical)])

In [10]:
pipe=Pipeline([('preprocess',preprocess_pipe),
              ('linear',LinearRegression())])

In [11]:
pipe

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('cat_pipe',
                                                  Pipeline(steps=[('encode',
                                                                   LeaveOneOutEncoder())]),
                                                  Index(['name', 'fuel', 'seller_type', 'transmission', 'owner'], dtype='object')),
                                                 ('numerical_pipe',
                                                  Pipeline(steps=[('encode',
                                                                   StandardScaler())]),
                                                  Index(['year', 'km_driven'], dtype='object'))])),
                ('linear', LinearRegression())])

In [12]:
X=car_dataset.drop(columns='selling_price')
y=car_dataset.selling_price

In [13]:
pipe.fit(X,y)

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('cat_pipe',
                                                  Pipeline(steps=[('encode',
                                                                   LeaveOneOutEncoder())]),
                                                  Index(['name', 'fuel', 'seller_type', 'transmission', 'owner'], dtype='object')),
                                                 ('numerical_pipe',
                                                  Pipeline(steps=[('encode',
                                                                   StandardScaler())]),
                                                  Index(['year', 'km_driven'], dtype='object'))])),
                ('linear', LinearRegression())])

In [14]:
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [15]:
X

,name,year,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,40000,Petrol,Individual,Manual,First Owner

In [16]:
test_Data=pd.DataFrame(['Maruti 800 AC','2007',70000,'petrol','Individual','Manual','First_Owner']).T
test_Data.columns=X.columns
pipe.predict(test_Data)

array([65930.98320694])

In [41]:
test_Data

   name  year km_driven    fuel seller_type transmission        owner
0  ritz  2010     35000  petrol  Individual       Manual  First_Owner

In [45]:
joblib.dump(pipe,"pipe.pkl")

['pipe.pkl']

In [28]:
sample_dict={
  "name": ["ritz"], 
  "owner": ["0"], 
  "Present_Price": ["50000"], 
  "fuel": ["Petrol"], 
  "km_driven":["50000"], 
  "seller_type": ["Individual"], 
  "transmission": ["Manual"], 
  "year": ["2010"]
}
df1=pd.DataFrame.from_dict(sample_dict)

In [29]:
pipe.predict(df1)

array([399964.12794553])